html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('image/avpgamewallpaper.jpg') no-repeat center center fixed;
    background-size: cover; /* A kép lefedi az egész oldalt */
    font-family: Arial, sans-serif;
    color: white; /* Szöveg színe fehér, hogy jól látszódjon a sötét háttéren */
    /* opacity: 0.7;*/
    background-size: cover; /* Lefedi az egész oldalt */
    overflow: scroll; /* Görgetés engedélyezve */
    padding: 60px;
}
/* 
.background-container {
    position: relative; /* Biztosítja, hogy az overlay jól működjön 
    height: 100vh; /* Az elem magassága legyen a teljes böngészőablak magassága 
    margin: 20px;
    padding: 0;
}
*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 1, 1, 0); /* Átlátszó réteg a halványításhoz */
    padding: 20px; /* Padding hozzáadása a cím és a gomb köré */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cím és gomb bal oldalon igazítva */
    gap: 5px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #52dbadd7, #1ec85ccb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 3px rgba(3, 2, 2, 0.726);
    display: inline-block;
    text-align: left; /* Cím balra igazítva */
    margin: 10px;
    margin-bottom: -50px; /* Csökkentsd ezt az értéket */
}

table {
    width: 90%;
    border-collapse: collapse;
    background-color: rgba(53, 55, 91, 0.347); /* Táblázat háttér színének átlátszósága */
    border-radius: 8px;
    position: relative;
    bottom: -100px;
    margin: auto;
    z-index: 3; /* Táblázat a háttér réteg fölött */
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.698);
}

th, td {
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

th {
    background-color: rgba(26, 214, 214, 0.164);
}

tr:nth-child(even) {
    background-color: rgba(121, 189, 216, 0.35);
}



.back {
    text-align: left;
    margin: 120px;
    margin-bottom: 60px;
    margin-left: 40px;
}

.back a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #3173e56f;
    padding: 10px 20px;
    border-radius: 5px;
}

.back a:hover {
    background-color: #040303;
}